<div class="container-fluid">
  <div class="card">
    <div class="card-header bg-warning">
      Create Employee
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <label for="">Name</label>
          <input type="text" name="name" class="form-control" placeholder="Name">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="">Email</label>
          <input type="text" name="name" class="form-control" placeholder="Email">
        </div>
        <div class="col-4">
          <label for="">Phone Number</label>
          <input type="text" name="name" class="form-control" placeholder="Phone Number">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="">Gender</label>
          <br/>
          <input type="radio" name="gender">Male
          <input type="radio" name="gender">FeMale 
        </div>
        <div class="col-4">
          <label for="">Date of Joining</label>
          <input type="date" name="name" class="form-control" placeholder="Date of Joining">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="">Department</label>
         <select name="" id="" class="form-select">
          <option value=""></option>
         </select>
        </div>
        <div class="col-4">
          <label for="">Designation</label>
         <select name="" id="" class="form-select">
          <option value=""></option>
         </select>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="">Employee Type</label>
         <select name="" id="" class="form-select">
          <option value="">Select</option>
          <option value="">Temporary</option>
          <option value="">Permanent</option>
         </select>
        </div>
        <div class="col-4">
          <label for="">Salary</label>
          <input type="number" name="name" class="form-control" placeholder="Salary">
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-4 text-center">
          <button class="btn btn-secondary">Cancel</button>
        </div>
        <div class="col-4 text-center">
          <button class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>