<div class="container-fluid">
  <div class="card">
    <div class="card-header bg-warning">
      Create Employee
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <label for="">Name</label>
          <input type="text" name="name" [(ngModel)]="employeeObj.fullName" class="form-control" placeholder="Name">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="">Email</label>
          <input type="text" name="email" [(ngModel)]="employeeObj.email" class="form-control" placeholder="Email">
        </div>
        <div class="col-4">
          <label for="">Phone Number</label>
          <input type="text" name="phone" [(ngModel)]="employeeObj.phone" class="form-control" placeholder="Phone Number">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="gender">Gender</label>
          <br/>
          <input type="radio" [(ngModel)]="employeeObj.gender" value="Male" >Male
          <input type="radio" [(ngModel)]="employeeObj.gender" value="FeMale" >FeMale 
        </div>
        <div class="col-4">
          <label for="">Date of Joining</label>
          <input type="date" name="dateOfJoining" [(ngModel)]="employeeObj.dateOfJoining" class="form-control" placeholder="Date of Joining">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="">Department</label>
         <select (change)="getDesignation()" name="departmentId" id="departmentId" class="form-select" [(ngModel)]="employeeObj.departmentId">
          <option value="">Select</option>
          <option *ngFor="let department of deptList$ | async" [value]="department.departmentId">{{department.departmentName}}</option>
         </select>
        </div>
        <div class="col-4">
          <label for="">Designation</label>
         <select name="designationId" id="designationId" class="form-select" [(ngModel)]="employeeObj.designationId">
          <option value="">Select</option>
          @for (item of designationList; track $index) {
            <option [value]="item.designationId">{{item.designationName}}</option>
          }
         </select>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="">Employee Type</label>
         <select name="employeeType" id="employeeType" class="form-select" [(ngModel)]="employeeObj.employeeType">
          <option value="Select">Select</option>
          <option value="Contract">Contract</option>
          <option value="Permanent">Permanent</option>
         </select>
        </div>
        <div class="col-4">
          <label for="">Salary</label>
          <input type="number" name="salary" [(ngModel)]="employeeObj.salary" class="form-control" placeholder="Salary">
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-4 text-center">
          <button class="btn btn-secondary">Cancel</button>
        </div>
        <div class="col-4 text-center">
          @if (employeeObj.employeeId==0) {
            <button class="btn btn-primary" (click)="onSave()">Save</button>
          }
          @else {
            <button class="btn btn-success" (click)="onUpdate()">Update</button>
          }
        </div>
      </div>
    </div>
  </div>
</div>